.active {
    background-color: black;
    color: white;
}

.topnav {
    background-color: grey;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3a506b;
    color: black;
}

.profile, .signin, .signup, .logout {
    float: right;
}

.footernav {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #deaf83;
    color: #f2f2f2;
}

.footersignin, .footersignup, .footerlogout {
    float: left;
    padding: 14px 16px;
    font-size: 17px;
}

.background{
    width: 100%;
    min-height: 100vh;
    padding: 3%;
    background-image: linear-gradient(rgba(255,99,71,0.5), rgba(255,99,71,0.5)), url(../images/parchment-home-background.jpg);
    background-position: center;
    background-size: cover;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 2;
    border: 0;
    outline: none;
    padding: 20px 18px;
    font-size: 18px;
    color: #cac7ff;
}


.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #e06d65;
    cursor: pointer;
}