.active {
    background-color: black;
    color: white;
}

.topnav {
    background-color: grey;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3a506b;
    color: black;
}

.profile, .signin, .signup, .logout {
    float: right;
}

.footernav {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #deaf83;
    color: #f2f2f2;
}

.footersignin, .footersignup, .footerlogout {
    float: left;
    padding: 14px 16px;
    font-size: 17px;
}