<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scriptoria Home</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class = "topnav">
        <a class = "active" href = "#home">Home</a>

        {% if session['username']%}
            <a href = "profile">My Books</a>
            <a href = "bookclub">Book clubs</a>
            <div class = profile><a href = "profile">Profile</a></div>
            <div class = logout><a href="{{ url_for('logout') }}">Log Out</a></div>
        {% else %}
            <div class = signup><a href = "signup">Sign Up</a></div>
            <div class = signin><a href="login">Log in</a> </div>
        {% endif %}
    </div>

    <h1>Welcome {{ session['name']}}!</h1>
    </p>
</body>
</html>

