<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scriptoria Home</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class = "topnav">
        <a class = "active" href = "#home">Home</a>

        {% if session['username']%}
            <a href = "profile">My Books</a>
            <a href = "bookclub">Book clubs</a>
            <div class = profile><a href = "profile">Profile</a></div>
            <div class = logout><a href="{{ url_for('logout') }}">Log Out</a></div>
        {% else %}
            <div class = signup><a href = "signup">Sign Up</a></div>
            <div class = signin><a href="login">Log in</a> </div>
        {% endif %}
    </div>
    <div class = "footernav">
        {% if session['username']%}
            <div class = footerlogout><a href="{{ url_for('logout') }}">Log Out</a></div>
        {% else %}
        <div class = footersignup><a href = "signup">Sign Up</a></div>
        <div class = footersignin><a href="login">Log in</a></div>
        {% endif %}
    </div>

    <div class='background'>
        {% if session['username']%}
            <h1>Welcome {{ session['name']}}!</h1>
        {% else %}
            <h1>Welcome!</h1>
        {%endif%}
        <form action="" class="search-bar">
            <input type="text" placeholder="Search a book..." name="q">
            <button type="submit"><img src="../images/search.png"></button>
        </form>
    </div>

</body>
</html>

