<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change your passsword</title>
     <link href="../static/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form>
        <label for="password1">Enter a new password: </label>
        <input type="text" id="password1" name="password1" placeholder="New password"/>

        <label for="password2">Confirm the password: </label>
        <input type="text" id="password2" name="password2" placeholder="Confirm password"/>
    </form>
    <button type="submit">Change the password</button>
</body>
</html>